<div class="modal-header">
  <h1>Nuevo Torneo</h1>
</div>'
<div class="modal-body">
    <div class="form-group">
        <label>Nombre del torneo</label>
        <input type="text" placeholder="Ingrese el nombre del torneo" name="nombre_torneo" class="form-control" ng-model="newTorneo.Nombre">
    </div>
    <div class="form-group">
        <label>Tipo de torneo</label>
        <select class="form-control" name="tipo_torneo" ng-model="newTorneo.tipo_torneo">
            <option value="">Seleccionar</option>
            <option value="Equipos">Equipos</option>
            <option value="Solitario">Solitario</option>
        </select>
    </div>
    <div class="form-group">
        <label>Numero de participantes</label>
        <input type="text" placeholder="Ingrese el numero de participantes" name="numero_participantes" class="form-control" ng-model="newTorneo.num_participantes">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline btn-default" ng-click="cerrarModal()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="guardar(newTorneo)"> Guardar</button>
</div>